  @font-face {
    font-family: 'Must';
    src: url('//fonts/GodsMust.otf') ;
  }
  @font-face {
    font-family: 'NTAdventure';
    src: url('//fonts/NTAdventure.otf') ;
  }
  @font-face {
    font-family: 'RoughBattle';
    src: url('//fonts/RoughBattle.ttf') ;
  }
  @font-face {
    font-family: 'Sunshine';
    src: url('//fonts/Sunshine.otf') ;
  }
  @font-face {
    font-family: 'kaishu';
    src: url('//fonts/sanjizhijiekaishu.ttf') ;
  }